<mat-grid-list>
    <mat-grid-tile class="form-tile">

    </mat-grid-tile>

    <mat-grid-tile class="form-tile">

    </mat-grid-tile>

    <mat-grid-tile class="form-tile">

    </mat-grid-tile>
</mat-grid-list>



<div class="location-form-container">

    <form #addLocationForm="ngForm" [formGroup]="contactForm" (submit)="onClickSubmit(); addLocationForm.reset();">


        <mat-card>
            <mat-form-field>
                <input matInput
                       name = "name"
                       placeholder = "Enter location's name"
                       formControlName="name"
                       [(ngModel)]="name" pattern="[a-zA-Z0-9 ]*"
                       required>
                <mat-hint>Letters and digits</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       name = "lat"
                       placeholder = "Enter latitute xx.xxxxx"
                       formControlName="lat"
                       [(ngModel)]="lat" pattern="\d{2}.\d{5}"
                       required>
                <mat-hint>Digits: XX.XXXXX</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <input matInput
                       name = "long"
                       placeholder = "Enter longitude xx.xxxxx"
                       formControlName="long"
                       [(ngModel)]="long"  pattern="\d{2}.\d{5}"
                       required>
                <mat-hint>Digits XX.XXXXX</mat-hint>
            </mat-form-field>

            <button mat-flat-button
                    color="primary"
                    type = "submit"
                    value = "Submit"
                    [disabled]="!contactForm.valid">
                Submit
            </button>
        </mat-card>

    </form>

</div>





